@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,900&display=swap');

html {
	scroll-behavior: smooth;
}
h2,p,a {
	font-family: 'Rubik', sans-serif;
}
* {
	box-sizing: border-box;
}
.header-top {
	background: #22272B;
}
.header-top-content {
	padding: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-top-content p {
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}
.company-address {
	display: flex;
	align-items: center;
	padding-right: 20px;
}
.company-address i {
	color: #FFDC78;
	font-size: 16px;
}
.company-address p {
	font-size: 14px;
	padding-left: 10px;
}
.opening-time {
	display: flex;
	align-items: center;
}
.opening-time i {
	color: #FFDC78;
}
.opening-time p {
	padding-left: 10px;
}

.main-header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0px;
}
.brand-logo {
	width: 30%;
}
.brand-logo img {
	width: 100%;
}
.f-contact-us {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sr-us {
	display: flex;
	align-items: center;
}
.sr-us i {
	color: #970034;
	padding: 20px;
	background: #F7F6F2;
	border-radius: 50%;
}
.sr-us p {
	margin: 0;
	color: #717577;
	font-size: 15px;
	font-family: 'Rubik', sans-serif;
}
.call-info a {
	margin: 0;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	color: #000;
}
.call-info a:hover {
	color: #9E0036;
	transition: 0.3s;
}
.appointment {
	padding: 15px 35px;
	background: #970034;
	border-radius: 25px;
	position: relative;
	z-index: 1;
}
.appointment a {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	z-index: 33;
}
.appoint-overly {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #000;
	width: 0%;
	height: 0%;
	border-radius: 25px;
	z-index: -2;
}
.appointment:hover .appoint-overly {
	width: 100%;
	height: 100%;
	transition: 1s;
	top: 0;
	left: 0;
}

/*header area style end hare*/

/** banner-section **/

.banner-section {
    position: relative;
    overflow: hidden;
}

.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
}
.banner-carousel {
    position: relative;
}

.banner-carousel .slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 235px 0px 150px 0px;
}

.banner-carousel .slide-item:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #1f2327;
    top: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0.5;
}


.banner-carousel .slide-item .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.banner-carousel .active .slide-item .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.banner-carousel .content-box {
    position: relative;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    z-index: 5;
}

.banner-carousel .content-box h6 {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #22272b;
    line-height: 30px;
    font-weight: 500;
    padding: 6.5px 20px;
    margin-bottom: 29px;
    text-align: center;
    background: #ffdc78;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.banner-carousel .active .content-box h6 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.banner-carousel .content-box h1 {
    position: relative;
    display: block;
    color: #fff;
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
    margin-bottom: 26px;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1300ms ease;
    -moz-transition: all 1300ms ease;
    -ms-transition: all 1300ms ease;
    -o-transition: all 1300ms ease;
    transition: all 1300ms ease;
}

.banner-carousel .active .content-box h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1300ms;
    -moz-transition-delay: 1300ms;
    -ms-transition-delay: 1300ms;
    -o-transition-delay: 1300ms;
    transition-delay: 1300ms;
}

.banner-carousel .content-box .btn-box {
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1600ms ease;
    -moz-transition: all 1600ms ease;
    -ms-transition: all 1600ms ease;
    -o-transition: all 1600ms ease;
    transition: all 1600ms ease;
}

.banner-carousel .active .content-box .btn-box {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1600ms;
    -moz-transition-delay: 1600ms;
    -ms-transition-delay: 1600ms;
    -o-transition-delay: 1600ms;
    transition-delay: 1600ms;
}

.owl-dots-none .owl-dots,
.owl-nav-none .owl-nav {
    display: none !important;
}

.banner-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    background: #fff !important;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    font-weight: 600;
    color: #22272b;
    cursor: pointer;
    opacity: 0.2;
    transition: all 500ms ease;
}

.banner-carousel .owl-nav .owl-next {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    background: #fff !important;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    font-weight: 600;
    color: #22272b;
    cursor: pointer;
    opacity: 0.2;
    transition: all 500ms ease;
}

.banner-carousel:hover .owl-nav .owl-prev,
.banner-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}
.banner-carousel .owl-nav .owl-next:hover {
  background: #9e0036 !important;
}
.banner-carousel .owl-nav .owl-prev:hover {
  background: #9e0036 !important;
}
.banner-carousel .owl-nav .owl-prev:hover,
.banner-carousel .owl-nav .owl-next:hover {
    color: #fff;
}.banner-carousel .owl-nav button.owl-next {
	background: initial; !important;
}
.theme-btn-one {
	background: rgb(158, 0, 54, 1.0);
}
