@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
html {
    scroll-behavior: smooth;
}

h2,
p,
a {
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}


/*****************************
header area style start hare
******************************/

.header-top {
    background: #22272B;
}

.header-top-content {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-content p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.company-address {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.company-address i {
    color: #FFDC78;
    font-size: 16px;
}

.company-address p {
    font-size: 14px;
    padding-left: 10px;
}

.opening-time {
    display: flex;
    align-items: center;
}

.opening-time i {
    color: #FFDC78;
}

.opening-time p {
    padding-left: 10px;
}

.main-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.brand-logo {
    width: 30%;
}

.brand-logo img {
    width: 100%;
}

.f-contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sr-us {
    display: flex;
    align-items: center;
}

.sr-us i {
    color: #970034;
    padding: 20px;
    background: #F7F6F2;
    border-radius: 50%;
}

.sr-us p {
    margin: 0;
    color: #717577;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.call-info a {
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #000;
}

.call-info a:hover {
    color: #9E0036;
    transition: 0.3s;
}

.appointment {
    padding: 15px 35px;
    background: #970034;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.appointment a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    z-index: 33;
}

.appoint-overly {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    width: 0%;
    height: 0%;
    border-radius: 25px;
    z-index: -2;
    transition: all 500ms ease;
}

.appointment:hover .appoint-overly {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*****************************
manu area style start hare
******************************/

.menu {
    position: relative;
    background-color: #fff;
    padding: 0px 30px;
}

.nav-trigger {
    display: none;
}

.nav:after {
    content: "";
    display: block;
    clear: both;
}

.nav-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /*! margin-top: 20px; */
}

.nav-list li {
    float: left;
}

.nav-list li a {
    padding: 0px 15px;
    color: #999;
}

nav {
    display: inline-block;
    float: right;
}

.main-header.style-one .header-lower .outer-box {
    position: relative;
    width: 100%;
}

.main-header.style-one .header-lower .outer-box .menu-area {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    background: #fff;
    padding: 0px 40px;
    border-top: 1px solid #ecebe3;
    border-bottom: 5px solid #FFDC78;
    z-index: 11;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-social {
    padding: 7px 0px;
}

.social-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.social-list li {
    float: left;
    margin-right: 10px;
}

.social-list li a {
    display: block;
    padding: 8px 15px;
    background: #ddd;
    color: #22272B !important;
    font-size: 16px;
    border-radius: 50%;
}

.social-list li a:hover {
    background: #FFDC78;
    color: #22272B !important;
    transition: .5s;
}

.stellarnav>ul li a {
    color: #717577;
}

.stellarnav ul ul li a {
    color: #fff;
}

::selection {
    color: white;
    background: #ff7675;
}

::selection {
    color: white;
    background: #ff7675;
}

element {
    display: block;
}

.stellarnav.mobile.right>ul {
    right: 0;
}

.stellarnav.mobile.right>ul,
.stellarnav.mobile.left>ul {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.stellarnav.mobile.active>ul {
    display: block;
}

.stellarnav.mobile>ul {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

.stellarnav.mobile ul {
    background: #22272B !important;
}

.stellarnav.mobile ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.stellarnav.dark {
    background: #fff;
}

.third {
    color: #fff !important;
}

.stellarnav.desktop ul ul li a {
    color: #fff;
}

.menu .nav ul li {
    float: left;
    position: relative;
    padding: 10px 0px;
}

.menu .nav ul li a {
    padding: 10px 15px;
    display: block;
    color: #717577;
}

.menu .nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    z-index: 10;
    display: none;
}

.menu .nav ul ul li {
    float: none;
    width: 200px;
}

.menu .nav ul ul li a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.menu .nav ul ul li a:hover {
    color: #FFDC78;
}

.menu .nav ul ul ul {
    top: 0;
    left: 100%;
}

.menu ul li a:hover {
    color: #970034;
}

.stellarnav.desktop ul ul>li>a {
    border-bottom: 1px solid rgba(255, 255, 255, .25) !important;
}


/*upper-menu style start hare*/

.upper-menu {
    width: 100%;
    z-index: 99;
    background: #fff;
    position: sticky !important;
    top: 0;
    display: none;
}

.upper-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.upper-nav ul li {
    float: left;
}


/*upper menu style end hare*/


/*****************************
		header area style end hare
******************************/


/*****************************
banner-section style start hare
******************************/

.banner-section {
    position: relative;
    overflow: hidden;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.banner-carousel {
    position: relative;
}

.banner-carousel .slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 235px 0px 150px 0px;
}

.banner-carousel .slide-item:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #1f2327;
    top: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0.5;
}

.banner-carousel .slide-item .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 6000ms linear;
    -moz-transition: all 6000ms linear;
    -ms-transition: all 6000ms linear;
    -o-transition: all 6000ms linear;
    transition: all 6000ms linear;
}

.banner-carousel .active .slide-item .image-layer {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.banner-carousel .content-box {
    position: relative;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    z-index: 5;
}

.banner-carousel .content-box h6 {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #22272b;
    line-height: 30px;
    font-weight: 500;
    padding: 6.5px 20px;
    margin-bottom: 29px;
    text-align: center;
    background: #ffdc78;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.banner-carousel .active .content-box h6 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
    border-radius: 15px;
}

.banner-carousel .content-box h1 {
    position: relative;
    display: block;
    color: #fff;
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
    margin-bottom: 26px;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1300ms ease;
    -moz-transition: all 1300ms ease;
    -ms-transition: all 1300ms ease;
    -o-transition: all 1300ms ease;
    transition: all 1300ms ease;
}

.banner-carousel .active .content-box h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1300ms;
    -moz-transition-delay: 1300ms;
    -ms-transition-delay: 1300ms;
    -o-transition-delay: 1300ms;
    transition-delay: 1300ms;
}

.banner-carousel .content-box .btn-box {
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1600ms ease;
    -moz-transition: all 1600ms ease;
    -ms-transition: all 1600ms ease;
    -o-transition: all 1600ms ease;
    transition: all 1600ms ease;
}

.banner-carousel .active .content-box .btn-box {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1600ms;
    -moz-transition-delay: 1600ms;
    -ms-transition-delay: 1600ms;
    -o-transition-delay: 1600ms;
    transition-delay: 1600ms;
}

.owl-dots-none .owl-dots,
.owl-nav-none .owl-nav {
    display: none !important;
}

.banner-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    background: #fff !important;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    font-weight: 600;
    color: #22272b;
    cursor: pointer;
    opacity: 0.2;
    transition: all 500ms ease;
}

.banner-carousel .owl-nav .owl-next {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    background: #fff !important;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    font-weight: 600;
    color: #22272b;
    cursor: pointer;
    opacity: 0.2;
    transition: all 500ms ease;
}

.banner-carousel:hover .owl-nav .owl-prev,
.banner-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.banner-carousel .owl-nav .owl-next:hover {
    background: #9e0036 !important;
}

.banner-carousel .owl-nav .owl-prev:hover {
    background: #9e0036 !important;
}

.banner-carousel .owl-nav .owl-prev:hover,
.banner-carousel .owl-nav .owl-next:hover {
    color: #fff;
}

.banner-carousel .owl-nav button.owl-next {
    background: initial;
}

.theme-btn-one {
    background: rgb(158, 0, 54, 1.0);
}


/*****************************
 banner-section style end hare
******************************/


/*****************************
 section feature-area style start hare
******************************/


/*********featureblock one******/

.feature-block-one {
    width: 100%;
    padding: 50px 30px;
    background: #A40034;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.feature-img {
    display: inline-block;
    background: #fff;
    padding: 21px 18px;
    border-top: 12px solid #A40034;
}

.feature-img img {
    width: 103px;
    height: 96px;
}

.feuture-block-content {
    padding-top: 20px;
    z-index: 11;
}

.feuture-block-content h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}

.feuture-block-content p {
    color: RGBA(255, 255, 255, 0.7);
    font-weight: 500;
    padding: 10px 0px;
}

.feuture-block-content a {
    color: #fff;
    font-weight: 500;
    padding: 10px 0px;
}

.block-one-overly {
    position: absolute;
    top: -100%;
    left: 0;
    background: #222222;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: all 0.7s ease;
}

.feature-block-one:hover .block-one-overly {
    top: 0;
}


/*******feature block two***********/

.feature-block-two {
    width: 100%;
    padding: 50px 30px;
    background: #FFDC78;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.feature-block-two .feuture-block-content h4 {
    color: #000;
}

.feature-block-two .feuture-block-content a {
    color: #000;
}

.feature-block-two .feuture-block-content p {
    color: #717577;
}

.feature-block-two .feature-img {
    border-top-color: #FFDC78;
}

.block-two-overly {
    position: absolute;
    top: -100%;
    left: 0;
    background: #222222;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: all 0.7s ease;
}

.feature-block-two:hover .block-two-overly {
    top: 0;
}

.feature-block-two:hover a {
    color: #fff;
}

.feature-block-two:hover h4 {
    color: #fff;
}


/*****block three*******/

.feature-block-three {
    width: 100%;
    padding: 50px 30px;
    background: #FFF;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.feature-block-three .feuture-block-content h4 {
    color: #000;
}

.feature-block-three .feuture-block-content a {
    color: #000;
}

.feature-block-three .feuture-block-content p {
    color: #717577;
}

.feature-block-three .feature-img {
    border-top-color: #222222;
}

.block-three-overly {
    position: absolute;
    top: -100%;
    left: 0;
    background: #222222;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: all 0.7s ease;
}

.feature-block-three:hover .block-three-overly {
    top: 0;
}

.feature-block-three:hover a {
    color: #fff;
}

.feature-block-three:hover h4 {
    color: #fff;
}


/*****************************
 section feature-area style end hare
******************************/


/*****************************
 about-feature style start hare
******************************/

.about-feature {
    background: url(images/about-us.png) no-repeat;
    padding: 100px 0px;
    background-position: center;
    background-size: cover;
}

.about-sr-item p {
    color: #9E0036;
    text-transform: uppercase;
}

.about-sr-item h2 {
    padding: 10px 0px;
    font-size: 50px;
    color: #22272B;
    font-weight: 700;
}

.about-sr-item ul li {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #717577;
}

.about-sr-item ul {
    padding: 15px 0px;
    margin-bottom: 54px;
}

.about-sr-item ul li i {
    padding-right: 10px;
    color: #9E0036;
}

.inner-box {
    display: flex;
    align-items: center;
}

.icon-box img {
    width: 100%;
}

.inner {
    background: #9E0036;
    padding: 30px;
    align-items: center;
    position: relative;
}

.inner-content {
    padding: 0px 30px;
}

.inner-content h4 {
    width: 130px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
}

.inner:before {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #FFDC78;
    position: absolute;
    top: 0;
    right: -20px;
}

.author {
    padding-left: 65px;
    display: flex;
    align-items: center;
}

.author-thumb {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #9E0036;
}

.author-thumb img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.author-name h3 {
    padding-left: 20px;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}


/*****************************
	 about-feature style end hare
	******************************/


/****************************************/


/*****************************
	 about-feature style end hare
	******************************/


/********************
 service area style start hare
 *********************/

.service-area-content {
    padding: 120px 0px;
    border-bottom: 1px solid #DEE2E6;
}

.service-carousel-area {
    padding-top: 60px;
}

.service-title p {
    color: #9E0036;
    text-transform: uppercase;
}

.service-title h2 {
    color: #22272B;
    font-size: 50px;
    font-weight: 700;
}

.service-carousel.owl-carousel img {
    width: 100%;
}

.sec-img {
    width: 100%;
}

.sec-img a img {
    width: 380px !important;
}

.sec-img a {
    margin: 0;
}

.sec-content {
    width: 100%;
    padding: 25px 30px;
    border: 1px solid #ecebe3;
    border-top: none;
}

.sec-content h4 a {
    font-size: 20px;
    color: #22272B;
    font-weight: 500;
}

.sec-content p {
    color: #717577;
    padding: 15px 0px;
}

.sec-content a {
    color: #22272B;
    font-size: 14px;
    font-weight: 500;
}

.sec-content a:hover {
    color: #9E0036;
}

.sec-img {
    position: relative !important;
}

.sr-icon-box {
    position: absolute;
    bottom: 45%;
    left: -10px;
    width: 86px;
    background: #FBD778;
}

.sr-icon-box img {
    width: 100%;
    padding: 10px;
}

.service-item:hover .sr-icon-box {
    background: #9E0036;
    transition: all 0.9s ease;
}

.service-item:hover .sec-img img {
    opacity: 0.7;
    transform: scale(1.1);
}

.service-item {
    overflow: hidden;
}

.sr-icon-box:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 10px;
    height: 10px;
    display: block;
    background: #FBD778;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 0%);
}

.service-item:hover .sr-icon-box:before {
    background: #9E0036;
    transition: all 0.9s ease;
}

.service-title h2 {
    position: relative !important;
}

.service-carousel .owl-nav {
    position: absolute;
    top: -22%;
    right: 0;
}

.service-carousel .owl-nav .owl-next,
.service-carousel .owl-nav .owl-prev {
    display: inline-block;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background: #F7F6F2 !important;
}

.service-carousel .owl-nav .owl-prev:hover,
.service-carousel .owl-nav .owl-next:hover {
    color: #fff;
    background: #9E0036 !important;
    transition: all 500ms ease;
}


/********************
 service area style end hare
 *********************/


/********************
 proudly area style start hare
 *********************/

.section-proudly {
    background: #22272B;
    position: relative;
}

.img-overly {
    background: url(images/pattern-1.png) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 509px;
    height: 100%;
}

.left-img {
    background: url(images/left-img.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.proudly-content-box {
    padding: 100px 20px 75px 100px;
    width: 100%;
}

.proudly-innerbox {
    padding-bottom: 10px;
    border-bottom: 1px solid #393D41;
    width: 100%;
}

.proudly-content-box .proudly-innerbox p {
    color: #FFDC78;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.proudly-content-box .proudly-innerbox h2 {
    font-size: 50px;
    font-weight: 700;
    color: #ffff;
    padding: 10px 0px;
}

.proudly-content-box .proudly-innerbox ul {
    padding-top: 20px;
    padding-bottom: 30px;
}

.proudly-content-box .proudly-innerbox ul li {
    color: #fff;
    font-size: 18px;
}

.proudly-content-box .proudly-innerbox ul li i {
    padding-right: 10px;
    color: #9E0036;
}

.proudly-counter {
    padding-top: 30px;
}

.couner-item {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
}

.counter-content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.counter-content p {
    color: #fff;
}


/********************
 proudly area style end hare
 *********************/


/********************
 feature two style end hare
 *********************/

.feature-area-two {
    padding: 120px 0px;
    position: relative;
}

.feature-area-two::before {
    position: absolute;
    content: '';
    background: #f8f7f3;
    width: 100%;
    height: 720px;
    left: 0px;
    top: 340px;
    right: 0px;
    z-index: -1;
}

.featureTwo-blockOne {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 55px 0px 55px 55px;
    background: #9E0036;
    flex-direction: column;
    justify-content: space-between;
}

.featureTwo-blockOne h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}

.featureTwo-blockOne .appointment {
    width: 180px;
    padding: 10px 20px;
    background: #FFDC78;
}

.featureTwo-blockOne .appointment a {
    color: #000;
}

.featureTwo-blockOne .appointment:hover a {
    color: #fff;
}

.featureTwo-blockTwo {
    position: relative;
    overflow: hidden;
}

.featureTwo-blockTwo .feature-bg {
    background-image: url(images/Physio_Eberle_16.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1500ms ease;
    z-index: -2;
}

.featureTwo-content:hover .feature-bg {
    transform: scale(1.2);
}

.featureTwo-blockTwo .featureTwo-content::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: -1;
}

.featureTwo-content {
    padding: 30px 20px 30px 30px;
    text-align: center;
    z-index: 2;
}

.featureTwo-content .numbar-one {
    display: inline-block;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 94px;
    height: 94px;
    text-align: center;
    z-index: 2;
}

.featureTwo-content .numbar-one span {
    background: #FFDC78;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    border-radius: 50%;
    display: inline-block;
    color: #000;
}

.featureTwo-blockTwo .featureTwo-content h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 18px;
}

.featureTwo-blockTwo .featureTwo-content p {
    color: #ffff;
    font-size: 18px;
    line-height: 34px;
}

.featureTwo-content {
    position: relative;
}

.blockThree .feature-bg {
    background-image: url(images/Physio_Eberle_25.png);
}


/********************
 feature two style end hare
 *********************/


/********************
 testimonials style start hare
 *********************/

.section-testimonial {
    padding-bottom: 120px;
}

.testimonial-content {
    text-align: center;
    margin-bottom: 50px;
}

.testimonial-content p {
    color: #9E0036;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonial-content h2 {
    color: #22272B;
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0px;
}

.testimonial-carousel-area {
    display: block;
    width: 100%;
    background: #fff !important;
    padding: 50px 60px 0px 60px;
}

.testimonial-inner-box {
    display: block;
    background: #fff;
    border: 1px solid #ecebe3;
    padding-bottom: 30px;
    transition: all 500ms ease;
}

.testimonial-block-one h4 {
    position: relative;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 17.5px 15px;
    z-index: 1;
    transition: all 500ms ease;
}

.testimonial-block-one .testimonial-inner-box h4::before {
    position: absolute;
    content: '';
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    z-index: -1;
    transition: all 500ms ease;
    background: #9e0036;
    ;
}

.testimonial-block-one .testimonial-inner-box:hover h4::before {
    background: #ffdc78;
}

.testimonial-block-one .testimonial-inner-box:hover h4 {
    color: #000;
}

.testimonial-block-one .testimonial-inner-box h4::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    transition: all 500ms ease;
    background: #9e0036;
}

.testimonial-block-one .testimonial-inner-box:hover h4::after {
    background: #ffdc78;
}

.testimonial-block-one .testimonial-inner-box p {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 31px auto;
    padding: 0 20px;
    font-style: normal;
    letter-spacing: 0.2px;
    text-align: center;
}

.testimonial-block-one .testimonial-inner-box .images-box {
    display: inline-block;
    width: 92px;
    height: 92px;
    border: 1px solid #edece5;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    transition: all 500ms ease;
    margin: auto;
    padding: 10px;
}

.testimonial-block-one .testimonial-inner-box:hover .images-box {
    border-color: #ffdc78;
}

.testimonial-block-one .testimonial-inner-box .images-box img {
    width: 100%;
    border-radius: 50%;
}

.testimonial-block-one .testimonial-inner-box {
    position: relative;
}

.testimonial-block-one .testimonial-inner-box .quite-box {
    position: absolute;
    left: 45%;
    bottom: 0;
    transform: rotateX(-50%);
    z-index: 1;
    margin-top: 20px;
}


/********************
 testimonials style end hare
 *********************/

 /********************
 blog area style end hare
 *********************/

 /********************
 startup area style start hare
 *********************/
.start-up {
    padding: 100px 0px;
    background-image: url(images/startup-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.start-up::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22272b;
    opacity: 0.9;
}

.start-up .startup-inner-box p {
    color: #FFDC78;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.start-up .startup-inner-box h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    padding: 10px 0px;
}

.startup-inner-box .innerbox-content .innerbox-block-one {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.startup-inner-box .innerbox-content .block-two {
    border: none;
}

.innerbox-block-one .check-mark {
    width: 58px;
    height: 58px;
    background: #9E0036;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
}

.innerbox-block-one .check-mark i {
    font-size: 18px;
    color: #FFDC78;
}

.innerbox-block-one .inner-block-cnt {
    padding-left: 25px;
}

.innerbox-block-one .inner-block-cnt a {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}

.innerbox-block-one .inner-block-cnt a:hover {
    color: #9E0036;
}

.innerbox-block-one .inner-block-cnt p {
    font-size: 18px;
    color: #F1F1F1;
    letter-spacing: initial;
    text-transform: none;
}

.innerbox-block-three {
    display: flex;
    background: #9E0036;
    padding: 25px 20px;
    align-items: center;
    margin-top: 25px;
}

.innerbox-block-three h3 {
    font-size: 24px;
    padding: 10px 0px 10px 30px;
    line-height: 40px;
    color: #fff;
}

.innerbox-block-three h3 span {
    font-weight: 700;
    color: #FFDC78;
}

.startup-inner-boxTwo {
    padding-left: 30px;
}

.startup-inner-boxTwo .form-inner-box {
    position: relative;
    display: block;
    background: #fff;
    /*! margin-top: 6px; */
    padding: 0px 40px 76px 40px;
    border-bottom: 1px solid #e2e1de;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.startup-inner-boxTwo .form-inner-box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background: #ffdc78;
}

.startup-inner-boxTwo .form-inner-box h6 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 30.5px 0px;
    font-weight: 500;
    margin-bottom: 30px;
}

.startup-inner-boxTwo .form-inner-box p {
    text-align: center;
    font-size: 18px;
    color: #717577;
    padding-bottom: 30px;
}

.startup-inner-boxTwo .form-inner-box form .input-block-one {
    display: flex;
}

.form-inner-box form .input-block-one input,
.form-inner-box form .input-block-two input {
    width: 50%;
    background: #F8F7F3;
    padding: 15px 10px;
    border: 1px solid #ddd;
}

.form-inner-box form .input-block-one input,
.form-inner-box form .input-block-two input::placeholder {
    font-weight: 500;
    color: #AFB1B0;
    font-size: 14px;
}

.input-block-two {
    margin-top: 20px;
    display: flex;
}

.selection-box {
    width: 50%;
}

.selection-box select {
    background-color: #F8F7F3;
    padding: 20px 10px;
    width: 100%;
    color: #AFB1B0;
    border: 1px solid #ddd;
}

.input-block-two .date {
    color: #AFB1B0;
}
.text-area textarea {
    margin-top: 20px;
    width: 100%;
    background: #F8F7F3;
    padding: 10px 15px;
    height: 150px;
}
.form-appointment {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.form-appointment button {
	background: transparent;
	color: #fff;
	font-weight: 500;
}
 /********************
 startup area style end hare
 *********************/

 /********************
 section-blog style start hare
 *********************/
.section-blog {
    padding: 115px 0px 120px 0px;
    position: relative;
}
.section-blog::before {
    position: absolute;
    content: '';
    background: #f8f7f3;
    width: 100%;
    height: 580px;
    top: 0;
    left: 0;
}
.blog-content-two {
    padding-top: 30px;
}
.blog-content-two .blog-one {
    position: relative;
    display: block;
    background: #fff;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}
.blog-one .post-date {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #22272b;
    line-height: 34px;
    text-align: center;
    padding: 3px 26px;
    background-color: #FFDC78;
}
.blog-area-content .blog-content-one p {
    color: #9E0036;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.blog-area-content .blog-content-one h2 {
    color: #22272B;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0px;
}
.blog-one .blog-images {
    width: 370px;
    height: 300px;
    overflow: hidden;
}
.blog-one .blog-images img {
    width: 100%;
    height: 300px;
}
.blog-one .blog-images:hover a img {
    transform: scale(1.1);
}
.blog-one-content .post-author {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 30px;
}
.blog-one-content .post-author a:hover {
    color: #9e0036;
}
.blog-one-content {
    padding: 30px 35px 28px 35px;
}
.post-author .post-user {
    align-items: center;
    padding: 0px 10px;
}
.post-author .post-user i {
    padding-right: 5px;
    color: #9E0036;
}
.post-author .post-user a {
    color: #717577;
    text-transform: capitalize;
}
.post-content  a {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}
.post-content  a:hover {
    color: #9e0036;
}

.post-content p {
    color: #717577;
    line-height: 34px;
    padding: 20px 0px;
}

.post-content .readmore-btn {
    font-size: 16px;
    font-weight: 500;
}
/*********************/


.light-box {
	padding-bottom: 100px;
}
.light-box .light-box-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.light-box-content .light-box-item:hover img {
	transform: scale(1.1);
}
.light-box-content .light-box-item img {
	transition: all 500ms ease;
}
.light-box .light-box-content .light-box-item {
	width: 23%;
	position: relative;
	overflow: hidden;
}
.light-box-overly {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
}
.light-box-overly a {
	text-align: center;
	display: block;
}
.light-box-overly a i {
	margin: 0;
	font-size: 18px;
	padding: 25px;
	background: #FFDC78;
	color: #9E0036;
	border-radius: 50%;
	transition: all 800ms ease;
	transform: scale(0);
}
.light-box-overly a:hover i {
	background: #9E0036;
	color: #FFDC78;
}
.light-box-content .light-box-item:hover .light-box-overly {
	opacity: 1;
}
.light-box-content .light-box-item:hover .light-box-overly i {
	transform: scale(1.0);
}
/********************
 section-blog style end hare
 *********************/


.book-us {
	padding: 40px;
	background: #9E0036;
}
.book-us .book-us-content {
	padding: 50px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.book-us .book-us-content h2 {
	font-size: 34px;
	color: #fff;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.book-us .book-us-content .book-us-btn {
	background: #FFDC78;
}
.book-us .book-us-content .book-us-btn a {
	color: #000;
}
.book-us .book-us-content .book-us-btn:hover a {
	color: #fff;
}
/*book-us style end hare*/

.footer-area {
	background: url(images/footer-1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.footer-area .footer-overly {
	width: 100%;
	height: 100%;
	padding: 50px 0px;
	background: rgba(35, 40, 43, 0.9);
}

.footer-block-one .footer-innerbox a img{
	width: 100%;
}
.footer-block-one .footer-innerbox p {
	padding: 25px 0px;
	color: #DDDDDD;
	line-height: 35px;
}
.footer-block-one .footer-innerbox ul li {
	padding: 10px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-block-one .footer-innerbox ul li i {
	padding-right: 10px;
	color: #FFDC78;
}
.footer-block-one .footer-innerbox ul li a {
	font-weight: 500;
	color: #fff;
}
.footer-block-one .footer-innerbox ul li a:last-child {
	font-size: 15px;
}
.footer-block-one .footer-innerbox ul li a:hover {
	color: #9E0036;
}
.call-us-btn {
	margin-top: 15px;
	padding: 25px 15px;
	background: #1F2327;
	display: flex;
	align-items: center;
}
.call-us-btn .call-icon {
	padding: 20px 25px;
	background: #9E0036;
	border-radius: 50%;
}
.call-us-btn .call-icon i {
	font-size: 18px;
	color: #Fff;
}
.call-us-btn .phn-number {
	padding-left: 15px;
}
.call-us-btn .phn-number p {
	margin: 0;
	padding: 0;
}
.call-us-btn .phn-number a {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
.call-us-btn .phn-number a:hover {
	color: #9E0036;
}
.footer-block-two {
	padding-top: 20px;
}
.footer-block-two h4 {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}


/**********/

.top-btn {
    background: #A40034;
    position: fixed;
    display: none;
    right: 25px;
    bottom: 25px;
    z-index: 888;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.top-btn i {
    font-size: 25px;
    color: #fff;
    padding: 5px 9px;
}

.top-btn:hover {
    background: #FFDC78;
    transition: all 0.5s ease;
}

.top-btn i:hover {
    color: #000;
}