/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {








}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {











}



/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.header-top-content {
		flex-direction: column;
	}
	.brants-info {
		flex-direction: column;
	}
	.main-header-content {
		flex-direction: column;
		justify-content: center;
	}
/*	manu area reposive hare*/
	.main-header.style-one .header-lower .outer-box .menu-area {
		padding: 0;
	}
	.menu {
		padding: 0px 10px;
	}
	.menu .nav {
		display: none;
	}
	.nav-social {
		order: 1;
	}
	.stellarnav {
		order: 2;
	}
	.brand-logo {
		width: 100%;
	}
	.f-contact-us {
		display: block;
		padding-top: 10px;
		justify-content: flex-start;
	}
	.appointment {
		display: none;
	}
	.sr-us-mobile {
		padding-left: 0px !important;
	}
	.upper-menu {
		position: sticky !important;
		top: -100px !important;
	}
	.upper-menu-item.menu {
		display: none;
	}
/*	banner section resposive*/
	.banner-carousel .content-box h6 {
		font-size: 15px;
	}
	.banner-carousel .content-box h1 {
		font-size: 40px;
		line-height: 55px;
	}
	.banner-carousel .slide-item {
		padding: 150px 0px 70px 0px;
	}

/*about feature responsive*/
	.about-sr-item h2 {
		font-size: 30px;
	}
	


	
.inner-box {
	flex-direction: column;
	align-items: flex-start;
}
.author {
	padding-left: 0px;
	padding-top: 20px;
}
.inner {
	padding: 15px 10px;
}

/*service area reaposive*/
.service-title h2 {
	font-size: 30px;
}
.service-carousel .owl-nav .owl-next, .service-carousel .owl-nav .owl-prev {
	display: inline-block;
	width: 40px;
	height: 40px;
}



}