/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {








}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {











}



/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.header-top-content {
		flex-direction: column;
	}
	.brants-info {
		flex-direction: column;
	}
	.main-header-content {
		flex-direction: column;
		justify-content: center;
	}
/*	manu area reposive hare*/
	.main-header.style-one .header-lower .outer-box .menu-area {
		padding: 0;
	}
	.menu {
		padding: 0px 10px;
	}
	.menu .nav {
		display: none;
	}
	.nav-social {
		order: 1;
	}
	.stellarnav {
		order: 2;
	}
	.brand-logo {
		width: 100%;
	}
	.f-contact-us {
		display: block;
		padding-top: 10px;
		justify-content: flex-start;
	}
	.appointment {
		display: none;
	}
	.sr-us-mobile {
		padding-left: 0px !important;
	}

	.banner-carousel .content-box h6 {
		font-size: 15px;
	}
	.banner-carousel .content-box h1 {
		font-size: 40px;
		line-height: 55px;
	}
	.banner-carousel .slide-item {
		padding: 150px 0px 70px 0px;
	}










}